
@{
    ViewBag.Title = "Complated";
}
<div class="container mt-5 mb-5 text-center">
    <h2>Ödeme işlemi Başarılırı</h2>
    <p>Sirarişiniz En Kısa Sürede Kargoya Verilecektir.</p>
    <a class="btn btn-primary" href="~/">Anasayfa</a><a href="~/Order/index" class="btn btn-warning">Siparişlerim</a>
</div>

