
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form method="post">
            <input type="text" name="DeviceId" id="DeviceId" />
            <input type="text" name="enlem" id="enlem" />
            <input type="text" name="boylam" id="boylam" />
            <input type="number" name="rakim" id="rakim" />
            <input type="checkbox" name="calisma" id="calisma" value="true" />
            <button  type="submit">Veri Gönder</button>
        </form>
    </div>
</body>
</html>
